*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1130px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

/***************BUY*************/

.buy{
    background-color: #ffffff;
    padding: 88px 131px 50px;
}

.buy__grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.buy__card1{
    background: #F3F3F3;
    position: relative;
}

.buy__card2{
    background: #F3F3F3;
}

.buy__card3{
    background: #F3F3F3;
}

.card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 29px 156px 21px 29px;
}

.buy__discount{
    position: absolute;
    background-color: #E52D2D;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1;
    top: 30px;
    left: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 23px
}

.col-4{
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.border{
    border-left: 4px solid #6EBBD3;
    padding-left: 13px;
}

.card__price{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 22px 204px 29px 29px;
}

.buy__btn{
    width: 100%;
    height: 65px;
    background: #6EBBD3;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buy__btn-black{
    width: 100%;
    height: 65px;
    background: #000000;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buy-p__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    text-align: center;
    padding: 95px 0 40px;
}

.buy-p__desc{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}