*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1130px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

/***************BUY*************/

.buy{
    background-color: #ffffff;
    padding: 88px 0 50px;
}

.buy__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.card__subgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 35px;
    padding: 22px 0;
}

.buy__card1{
    background: #F3F3F3;
}

.buy__card2{
    background: #F3F3F3;
}

.buy__card3{
    background: #F3F3F3;
}

.buy-card__cats{
    max-width: 100%;
}

.buy-card__top-part{
    position: relative;
}

.buy-card__bottom-part{
    padding: 29px 33px 29px 29px;
}

.card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.card__desc{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.card-desc__span{
    font-weight: 600;
    font-size: 16px;
    display: block;
}

.buy__discount{
    position: absolute;
    background-color: #E52D2D;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1;
    top: 30px;
    left: 30px;
}

.buy-like__btn{
    position: absolute;
    top: 36px;
    right: 32px;
    background-color: transparent;
    border: none;
    fill-opacity: 0.5;
}

.buy-like__btn:hover{
    fill-opacity: 1;
}

.border{
    border-left: 4px solid #6EBBD3;
    padding-left: 18px;
}

.card__price{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.buy__btn{
    width: 100%;
    height: 65px;
    background: #6EBBD3;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buy__btn:hover{
    background-color: grey;
}

.buy__btn-black{
    width: 100%;
    height: 65px;
    background: #000000;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buy-p__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    text-align: center;
    padding: 95px 0 40px;
}

.buy-p__desc{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}